<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input formControlName="firstName" class="form-control" />
      <small *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched">
        First Name is required.
      </small>
    </div>
  
    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="lastName" class="form-control" />
      <small *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
        Last Name is required.
      </small>
    </div>
  
    <div class="form-group">
      <label>Email</label>
      <input formControlName="email" class="form-control" />
      <small *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
        Enter a valid email.
      </small>
    </div>  
    <div class="mt-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
    </div>
  </form>
  