<div class="container">
  <div class="d-flex justify-content-between mb-2">
    <button class="btn btn-success" (click)="openModal('create')">New</button>    
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search contacts"
      (input)="onSearch($event)"
    />
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="contacts.length > 0; else noContacts">
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="openModal('edit', contact)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="openModal('delete', contact)">Delete</button>
        </td>
      </tr>
    </tbody>
    <ng-template #noContacts>
      <tr>
        <td colspan="6" class="text-center">No contacts available</td>
      </tr>
    </ng-template>
  </table>

  <app-modal
    [title]="modalTitle"
    [isVisible]="modalVisible"
    (closeModal)="closeModal()"
  >
    <ng-container *ngIf="modalType === 'create' || modalType === 'edit'">
      <app-create-contact
        [contact]="selectedContact"
        (formSubmit)="onFormSubmit($event)"
      ></app-create-contact>
    </ng-container>
    <ng-container *ngIf="modalType === 'delete'">
      <p>Are you sure you want to delete <b>{{ selectedContact?.firstName }}</b>?</p>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger ms-2" (click)="deleteContact(selectedContact!.id)">
          Delete
        </button>
      </div>
    </ng-container>
  </app-modal>
</div>
